
.about-page {
    position: relative;
    height:500px;
    width:600px;
    padding:40px;
    left:0;
    opacity:1;
    top:0;
    display:flex;
    flex-direction:row;
    align-items:stretch;
    overflow:hidden;
}

.split-left {
    overflow:hidden;
}

.about-text {
    position:absolute;
    padding-right:240px;
    width:600px;
    user-select: none;
}

h1.fractured {
    font-size:28px;
    line-height:28px;
    margin:0 0 20px
}

h1.fractured span {
    display:block;
}

.about-text p {
    font-size:16px;
    line-height:32px;
}